
body {
  background-color: #f4f6f9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 0;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.employee-header h2 {
  margin: 0;
}

.add-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.add-btn:hover {
  background-color: #1e40af;
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.search-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}


.table-container {
  width: 100%;
  overflow-x: auto;  
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  min-width: 600px; 
}

.employee-table th {
  background-color: #f1f5f9;
  padding: 12px;
  text-align: left;
}

.employee-table td {
  padding: 10px 12px;
  border-top: 1px solid #e5e7eb;
}

.employee-table tbody tr:hover {
  background-color: #f9fafb;
}

.action-buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}

.action-btn {
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  min-width: 70px;
  transition: 0.2s ease;
}

.edit-btn {
  color: black;
}

.edit-btn:hover {
  background-color: #f6e3ac;
}

.delete-btn {
  color: rgb(21, 19, 19);
}

.delete-btn:hover {
  background-color: #f1a9a9;
}

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .employee-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .add-btn {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }

  .employee-table th,
  .employee-table td {
    padding: 8px;
    font-size: 14px;
  }

  .action-buttons {
    flex-direction: column;
    gap: 6px;
  }

  .action-btn {
    width: 100%;
  }
}