.page-container {
  padding: 40px;
  background-color: #f4f6f9;
  min-height: 100vh;
}

.page-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #125aa0;
}

.search-input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 250px;
}

.table-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f0f2f5;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

th {
  font-weight: 600;
  color: #333;
}

tbody tr {
  border-top: 1px solid #eee;
}

tbody tr:hover {
  background-color: #f9fafb;
}

.action-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

/* .edit-btn {
  background-color: #ffc107;
  color: #000;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
} */

.action-buttons {
  display: flex;
  gap: 32px;   
  justify-content: flex-start;
}


.action-btn {
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  min-width: 70px;
  transition: 0.2s ease;
}