.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  text-align: center;
}

.dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  padding: 8px 16px;
  background: gray;
  border: none;
  color: white;
  cursor: pointer;
}

.confirm-btn {
  padding: 8px 16px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}